@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.login-wrapper {
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff6fc;
  height: 100vh;
}

.login-tittle {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.login-form {
  background-color:#fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  color: black;
  min-width: 30vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.login-label {
  opacity: 0.7;
}

.login-input {
  display: inline-block;
  width: 80%;
  border: 0.5px solid grey;
  font-size: 12px;
  padding: 15px;
  color: black;
  background: transparent;
  margin-bottom: 10px;
}

.login-input::placeholder {
  color: rgb(88, 88, 88);
  font-size: 15px;
}

.login-input::placeholder ~ .login-input {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.login-div-password{
  font-size: 14px;
  margin-left: 28px;
  margin-right: 28px;
  display: flex;
  justify-content: space-between;
}

.login-div-remember{
  display: block;
}

.login-div  {
  font-size: 14px;
}
.login-remember{
  opacity: 0.7;
}

.login-btn {
  align-self: center;
  border: 0;
  color: #fff;
  background: #007fed;
  border: #007fed;
  padding: 10px;
  
  margin-bottom: 15px;
  width: 80%;
  font-size: 16px;
}

.login-btn:hover {
  cursor: pointer;
  border-color: #005697;
  background-color: #005697;
}

.login-link {
  color: #3498db;
}

.login-separator{
  border-bottom: 1px solid grey;

}


@media only screen and (max-width: 1200px) {
  .login-div-password {
   flex-direction: column;
   align-items: flex-start;
   margin-left: 15px;
   margin-right: 15px;
  }

  .login-div-remember{
    margin-bottom: 10px;
  }

  .login-forgot{
    align-self: flex-end;

  }

  .login-btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
